/* Званый ужин у Яшки это топовый топ! Приходите с опозданием и игристым! Кленовые листья, застывшие в сиропе, баффоло чикен дип, глазированные в апельсиновом соусе овощи и лимонный тарт под аккомпонемент перекуров и любимых треков. Как дома, только фенси, как в ресторане, но дома, в окружении любимых людей и красот. */

position: absolute;
width: 1280px;
height: 440px;
left: 80px;
top: 1161px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 46px;
line-height: 54px;

color: #000000;

